{% load otree %}

<style>
    h6 {
        font-weight: bold;
    }
</style>

<img src="{% static 'img/western_university_logo.png' %}" class="d-block mb-3">

<p>
    <b>Project Title:</b> Pay Policy and Business Decision Making in Teams
</p>

<div class="mb-3">
    <h6>Faculty Investigators:</h6>
    <div>Dr. Kun Huo, PhD, CPA, Accounting, 519-661-3220, <a href="mailto:khuo@ivey.ca">khuo@ivey.ca</a></div>
</div>

<p>
    The purpose of this letter is to provide you with information required for you to make an informed decision
    regarding participation in this research.
</p>

<h6>Why are we conducting this study?</h6>
<p>
    The purpose of this study is to better understand how firm pay policies affect managers and employee interactions in
    the context of teams. We hope to improve the knowledge of motivators of teamwork in order to improve productivity in
    various organizations.
</p>

<h6>How long will this study take?</h6>
<p>
    This study will take approximately 80 minutes of your time. 30 minutes will be spent understanding the
    task and the user interface, 30 minutes will be spent working on the group task with members in your team.
    10 minutes will be spent answering a post-experimental questionnaire. 10 minutes will be spent on payments.
</p>

<h6>What are the study procedures?</h6>
<p>
    If you consent to take part in this study, you will take part in two consecutive experimental tasks. In the first
    task, you will perform a computerized letter decoding task and the data from that task will be used to allocate
    individual into hypothetical firms consisting of one manager and three team members. Each firm will perform the
    letter decoding task and the manager and the employees will make separate decisions. Experimental currency will be
    earned according to everyone’s decisions. After everyone has had the chance to learn the task and complete a short
    quiz on the task’s rules, you will complete the task with your firm for eight periods. At the end of eight periods,
    you will be directed to an exit survey questions related to your perceptions of the exercise and some demographic
    questions (age, self-identified gender, etc.).
</p>

<h6>What are the risks and harms of participating in this study?</h6>
<p>
    There are no known or anticipated risks or discomforts associated with participating in this study.
</p>

<h6>Will the study help you?</h6>
<p>
    There is no guarantee that you will receive any personal benefit from taking part in this study. However, the
    information gathered may provide benefits to society as a whole as organizations (profit or non-profit) can benefit
    from increase knowledge on how to manage and motivate teams.
</p>

<h6>Who will see the information that you give?</h6>
<p>
    Your information will be combined with information from other people taking part in the study. When we write about
    the study to share it with other researchers, we will write about the combined information we have gathered. You
    will not be personally identified in these written materials.
</p>
<p>
    We do not collect personal identifiers in the study except to obtain written consent to participate. Your experiment choices and questionnaire responses will not be identifiable after the completion of the experiment (after compensation has been paid). We will keep you signed consent form for a minimum of seven years. However, we anonymize the data so that your responses in the study are linked to any personal identifiers such as your name.
</p>
<p>
    Certain scientific outlets require researchers to submit anonymized and processed data used in analyses when submitting scientific manuscripts. These data are typically kept indefinitely and may be accessed by other researchers and readers. If required by the scientific journal to also submit final and anonymized data used in the manuscript, we will do so.
</p>
<p>
    However, there are some circumstances in which we may have to show your information to other people.  Representatives of the University of Western Ontario Non-Medical Research Ethics Board may require access to study-related records to monitor the conduct of research.
</p>

<h6>Will you receive any compensation for taking part in this study?</h6>
<p>
    Participants will receive 1 research credit for attending the lab session. You are automatically guaranteed a single credit in the SONA system for showing up for your lab session appointment.
    You will also be compensated in cash for your participation. The amount of compensation you receiving will depend on the decisions you make and of those by other individuals doing the study with you. You will receive a minimum $12 for completing the study. Once admitted to the study, our past data shows that the range of pay is between $19 and $27, with an average of $21.75.
</p>

<h6>What are your rights as a participant?</h6>
<p>
    Your participation in this study is voluntary. You may decide not to be in this study. Even if you consent to participate you have the right to not answer individual questions or to withdraw from the study at any time. If you choose to leave the study at any time, you will receive your course credit and you will be paid the guaranteed amount of $12. You do not waive any legal right by signing this consent form. You cannot withdraw your responses from the study after you have completed it because the data will be anonymized and the probability of locating your records will be very low.
</p>

<h6>What if you have any questions, suggestions, concerns, or complaints?</h6>
<p>
    Before you decide whether to accept this invitation to take part in the study, please ask any questions that might come to mind now. Later, if you have questions, suggestions, concerns, or complaints about the study, you can contact the investigator, Kun Huo at <a href="mailto:khuo@ivey.ca">khuo@ivey.ca</a>. If you have any questions about your rights as a volunteer in this research, contact the staff in the Office of Human Research Ethics at the University of Western Ontario between the business hours of 8am and 5pm EST, Mon-Fri. at 519-661-3036 or via email at <a href="mailto:ethics@uwo.ca">ethics@uwo.ca</a>. A copy of the consent from can be emailed as your request at any time during or after the study.
</p>

<p>
    <b>Implied Consent (presented as a multiple-choice question for which the participant is forced to answer)</b>
</p>

<p>
    I have read the letter of information, have understood the nature of the study and by choosing “I consent” below and
    moving ahead with the survey I am agreeing to participate. I retain the right to withdraw myself and the data if I
    choose not to finish the study.
</p>

{% formfields %}
