{% load otree %}

<script>
    const liveRecv = (data) => {
        const obj = data;
        $('div.task-container').html(obj.task_body);
        $('span#num_tasks_total').html(obj.num_tasks_total);
        $('span#num_tasks_correct').html(obj.num_tasks_correct);
        $('span#correct').html(obj.correct_answer);
    }

    $(function () {
        const $answer = $('input#answer');
        const $btn_answer = $("button.answer");


        $btn_answer.on("click", function () {
            var msg = {
                'answer': $answer.val(),
            };
            liveSend(msg)

            $answer.val('').focus();
        });
        $answer.keydown(function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $btn_answer.click();
                return false;
            }
        });

    });
</script>
