{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    : Introduction to the DecodeSlider Task [Same for all participants in all conditions]
{% endblock %}

{% block content %}
Screen 6: Preparation Screen for the Performance Period [Same for all participants in all conditions]

Stage One – Decode Task

Now that you are familiar with the decode task, you will work on the Performance Period of the decode task for 60 seconds. Your performance relative to other participants during the Performance Period will determine your role in Stage Two.

For the Performance Period, you will earn 1 Lira for every decode that you correctly complete. Lira is the currency we use in this study. At the end of today’s session, earned Liras will be converted into cash at the rate of 5 cents (CAD) per Lira.

To begin the Performance Period, click on ‘Start Performance Period’.

[Participants have to click ‘Start Performance Period’ in order to begin the Performance Period.]




    {% next_button %}

{% endblock %}
