{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Decode Task - Performance Period Feedback
{% endblock %}

{% block content %}
  <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    In the Practice Period, your performance was {{ correct_ret_tasks }} decode{{ correct_ret_tasks|pluralize }}.
                </li>

                <li class="list-group-item">
                    Please click ‘Next’ when you are ready to proceed to the Performance Period.
                </li>

            </ul>
        </div>
    </div>
    {% next_button %}

{% endblock %}
