{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    : Introduction to the DecodeSlider Task [Same for all participants in all conditions]
{% endblock %}

{% block content %}
Screen 5: Decode Task - Practice Period Feedback [Same for all participants in all conditions]

Stage One – Decode Task

In the Practice Period, your performance was [PracticeDecodes] decodes.

Please click ‘Next’ when you are ready to proceed to the Performance Period.




[Participants have to click ‘Next’ in order to move on, and everyone must do so before the screen can advance].

Please wait until all participants have reviewed their performance before moving on.

[Record the total output as PracticeDecodes]

    {% next_button %}

{% endblock %}
