{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Preparation Screen for the Performance Period
{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Now that you are familiar with the decode task, you will work on the Performance Period of the
                    decode task for
                    60 seconds. Your performance relative to other participants during the Performance Period will
                    determine your
                    role in Stage Two.
                </li>

                <li class="list-group-item">
                    For the Performance Period, you will earn 1 Lira for every decode that you correctly complete. Lira
                    is the
                    currency we use in this study. At the end of today’s session, earned Liras will be converted into
                    cash at the
                    rate of 10 cents (CAD) per Lira.
                </li>

                <li class="list-group-item">
                    To begin the Performance Period, click on ‘Start Performance Period’.
                </li>
            </ul>
        </div>
    </div>
    <button class="  btn btn-primary">Start Performance Period</button>


{% endblock %}
