{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Thank you for participating in our study. The study will last about 80 minutes and it consists of
                    Stage One
                    and
                    Stage Two in the context of a firm: In both stages, you will be working on a decode task.
                </li>


                <li class="list-group-item">
                    All interactions within the program (oTree) will be anonymous and we promise to carry out this study
                    in the
                    manner described in the instructions, with NO deception of any form.
                </li>


                <li class="list-group-item">
                    If you have any questions while reading the instructions, or during the study, please send a private
                    message
                    to
                    the administrator in Zoom.
                </li>


                <li class="list-group-item">
                    The program is synchronized, i.e., all participants have to move forward at the same pace. Thus,
                    please
                    remain
                    patient while waiting for other participants to catch up.
                </li>


                <li class="list-group-item">
                    Please help us maintain control over this study by not discussing it with anyone who may be
                    participating in
                    future sessions.
                </li>


                <li class="list-group-item">
                    For your participation in the study, you will receive a fixed remuneration amount of $10.00 plus any
                    additional
                    remuneration that you earn during the study. The payment will be made to you through e-transfer
                    within 5
                    business days.
                </li>


                <li class="list-group-item">
                    Please click ‘Next’ to proceed.
                </li>
            </ul>

        </div>
    </div>
    {% next_button %}

{% endblock %}
