{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Role Explanation
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    In Stage Two of the study, some participants will play the role of the Manager in a firm and the
                    remaining participants will play the role of the Employee. Your role is determined by your
                    performance on the decode task in Stage One.
                </li>

                <li class="list-group-item">
                    Specifically, the top 25% of performers on the decode task will be promoted to Manager, and the
                    remaining will be employees. The Manager and the employees have different responsibilities in Stage
                    Two, as well as different compensation schemes.
                </li>

                <li class="list-group-item">
                    Please click ‘Next’ to learn about the decode task.
                </li>
            </ul>

        </div>
    </div>


    {% next_button %}

{% endblock %}
