

{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Role
{% endblock %}

{% block content %}
   Screen 10: Background of Stage Two [All roles and all conditions]

We are about to start Stage Two. We ask you to carefully read the instructions. You will receive a QUIZ on its contents, and proceed only when everyone completes all questions correctly.

Background

Stage Two consists of multiple periods. One Manager and three employees in each firm will be interacting with one another across these periods.

The established roles (Manager, Employee A, Employee B, and Employee C) do not change throughout Stage Two.

The decisions you and others in your firm make will determine your compensation in Liras.

You will be paid for your performance from Stage One and for one randomly chosen period from Stage Two.

Please click ‘Next’ when you are ready to proceed to the next screen.




    {% next_button %}

{% endblock %}
