{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bonus Allocation for Period    {{ view.round_number }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% if  player.is_worker %}
                {% if session.config.secret %}
                    <div> Based on the Manager’s bonus allocation decision, your bonus for
                        Period {{ view.round_number }} is as follows:
                    </div>

                    <table class="table table-hover table-striped">
                        {% with player as w %}



                            <tr>
                                <td>{{ w.role_desc }} {{ w.worker_subtype }}</td>

                                <td>{{ w.bonus }}</td>
                            </tr>

                        {% endwith %}
                    </table>
                {% else %}
                    <div>
                        Based on the Manager’s bonus allocation decision, the bonus amounts for
                        Period {{ view.round_number }} are:
                    </div>
                    <table class="table">
                        {% for w in group.get_workers %}
                            <tr>
                                <td>{{ w.role_desc }} {{ w.worker_subtype }}</td>

                                <td>{{ w.bonus }}</td>
                            </tr>

                        {% endfor %}

                    </table>
                {% endif %}

            {% else %}

                <div>
                    In Period {{ view.round_number }}, your received a bonus of {{ player.raw_payoff }} Lira.
                </div>
                <div>
                    Based on your bonus allocation decision, employee bonuses for Period {{ view.round_number }} are:
                </div>
                <table class="table">
                    {% for w in group.get_workers %}
                        <tr>
                            <td>{{ w.role_desc }} {{ w.worker_subtype }}</td>

                            <td>{{ w.bonus }}</td>
                        </tr>

                    {% endfor %}
                    <tr>
                        <td>
                            Total Employee Bonus Allocated:
                        </td>
                        <td>
                            {{ group.total_bonus }}
                        </td>
                    </tr>
                </table>

                {% if session.config.secret %}
                    <div class="alert alert-info my-3 font-weight-bold">
                        The three employees only know their own bonus, but not the bonus amount of the other employees.
                    </div>
                {% else %}
                    <div>
                        The three employees also received the above information.
                    </div>
                {% endif %}

            {% endif %}
            <div>
                Please click ‘Next’ when you are ready to proceed to the next screen.
            </div>
        </div>
    </div>
    <div class="my-3">{% next_button %}</div>
{% endblock %}
