

{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Role
{% endblock %}

{% block content %}
Screen 14: Manager Bonus [All roles and all conditions]

Manager Bonus

The Manager’s bonus is also tied to the combined realized output of the three employees. The higher the combined realized output (after accounting for potential uncontrollable events), the bigger the Manager’s bonus.

Please click ‘Next’ when you are ready to proceed to the next screen.




    {% next_button %}

{% endblock %}
