{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">


                <li class="list-group-item">
                    As the Manager of the firm, please answer a couple of questions while your three employees
                    complete
                    the decode task for Period 2. The period lasts 2 minutes (120 seconds).

                </li>
                <li class="list-group-item">
                    Please reflect on how you made your bonus allocation decisions for Period {{ prev_period }} and
                    answer the following
                    questions:
                </li>

                <li class="list-group-item">
                    1. Did you decide to <i>equally</i> distribute the employee bonus to the three employees for
                    Period {{ prev_period }}?
                    {% formfield player.non_equal_splitting label='' %}
                </li>


                <li class="list-group-item">
                    If you answered Yes to Question 1, why did you want to evenly split the bonus among the employees?
                    If you answered No to Question 1, how did you decide how much to allocate to each employee? Please
                    explain your thought process in detail in the box below.
                    {% formfield player.allocation_explanation label='' %}
                </li>


                <li class="list-group-item">
                    When you are done, please click ‘Next’ and wait for the employees to complete the Period.
                </li>
            </ul>

        </div>
    </div>


    <button class="  btn btn-primary">Next</button>

{% endblock %}
