{% extends "main/BaseInstructions.html" %}
{% load otree  %}

{% block title %}
    Manager Bonus
{% endblock %}

{% block instruction_body %}

    <li class="list-group-item">
        The Manager’s bonus is also tied to the combined realized output of the three employees. The higher
        the combined realized output (after accounting for potential uncontrollable events), the bigger the
        Manager’s bonus.
    </li>

    <li class="list-group-item">
        Please click ‘Next’ when you are ready to proceed to the next screen.
    </li>


{% endblock %}
