

{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Role
{% endblock %}

{% block content %}
Payout of Earnings

Recall, your total earnings will be based on your decode task performance from Stage One, plus your bonus from Stage Two, as determined by ONE randomly chosen period. This remuneration will be added to your $10.00 participation fee. The total resulting amount will be paid to you electronically within 5 business days.

Please click ‘Next’ when you are ready to proceed to the next screen.


 





Screen 15B: Bonus Distribution [All Roles but differ between conditions]

Distribution of Employee Bonuses (Pay Secret Conditions)

To allocate the bonus, the Manager enters the bonus amount for each employee. The sum of the three bonuses must equal the employee bonus pool total and no employee can receive less than zero.

Each employee will learn, in private, about their own bonus amount. The employees will not be informed of the bonuses received by the other employees.

Only the Manager, but NOT the employees, will know the size of the employee bonus pool.

Please click ‘Next’ when you are ready to proceed to the next screen.






    {% next_button %}

{% endblock %}
