{% extends "main/BaseInstructions.html" %}
{% load otree %}

{% block title %}
    Payout of Earnings
{% endblock %}

{% block instruction_body %}

    <li class="list-group-item">
        Recall, your total earnings will be based on your decode task performance from Stage One, <b>plus</b> your bonus from
        Stage Two, as determined by <b>ONE</b> randomly chosen period. This remuneration will be added to your
        {{ session.config.participation_fee }} CAD participation fee.
    </li>

    <li class="list-group-item">
        Please click ‘Next’ when you are ready to proceed to the next screen.
    </li>

{% endblock %}
