{% extends "main/BaseInstructions.html" %}
{% load otree static %}

{% block title %}
    Employees’ Actual Performance & Realized Output
{% endblock %}

{% block instruction_body %}

    {% if participant.vars.treatments.performance == Constants.TREATMENT_PERFORMANCE.0 %}
        <li class="list-group-item">
            The <b>realized output</b> is the employee’s actual performance after adjusting for the effect
            of the uncontrollable event (if any).
        </li>
        <li class="list-group-item">
            At the end of each production period of the decoding task, the <b>realized output</b> of each
            employee will be <b>shared with the Manager but not with the other two employees</b>.
            Thus, only the Manager will know how each employee performed on the decoding task
            after adjusting for any possible uncontrollable events.
        </li>
        <li class="list-group-item">
            <b>Only the Manager and the employee who is personally impacted</b> will learn how the
            uncontrollable event has impacted that employee. The unaffected employees will not
            learn about this.
        </li>
        <li class="list-group-item">
            For example, if Employee A were negatively affected by an uncontrollable event of -4,
            the Manager and Employee A (but <i>not</i> Employee B and Employee C) will learn about
            this.
        </li>

    {% elif participant.vars.treatments.performance == Constants.TREATMENT_PERFORMANCE.1 %}
        <li class="list-group-item">
            The <b>realized output</b> is the employee’s actual performance after adjusting for the effect
            of the uncontrollable event (if any).
        </li>
        <li class="list-group-item">
            At the end of each production period of the decoding task, the <b>realized output</b> of each
            employee will be <b>shared with the Manager and with the other two employees</b>.
            Thus, both the Manager and the other two employees will know how each employee
            performed on the decoding task after adjusting for any possible uncontrollable events.
        </li>
        <li class="list-group-item">
            <b>Only the Manager and the employee who is personally impacted</b> will learn how the
            uncontrollable event has impacted that employee. The unaffected employees will not
            learn about this.
        </li>
        <li class="list-group-item">
            For example, if Employee A were negatively affected by an uncontrollable event of -4,
            the Manager and Employee A (but <i>not</i> Employee B and Employee C) will learn about
            this.
        </li>

    {% else %}
        <li class="list-group-item">
            The <b>realized output</b> is the employee’s actual performance after adjusting for the effect
            of the uncontrollable event (if any).
        </li>
        <li class="list-group-item">
            At the end of each production period of the decoding task, the <b>realized output</b> of each
            employee will be <b>shared with the Manager and with the other two employees</b>.
            Thus, both the Manager and the other two employees will know how each employee
            performed on the decoding task after adjusting for any possible uncontrollable events.
        </li>
        <li class="list-group-item">
            <b>The Manager and all three employees</b> will learn how the
            uncontrollable event has impacted that employee.
        </li>
        <li class="list-group-item">
            For example, if Employee A were negatively affected by an uncontrollable event of -4,
            the Manager, Employee A, Employee B, and Employee C would all know about this.
        </li>

    {% endif %}

    <li class="list-group-item">
        Please click ‘Next’ when you are ready to proceed to the next screen.
    </li>

{% endblock %}
