{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Performance on Period {{ view.round_number }}
    {% if  player.is_worker %}
        <div class="float-right">Employee {{ player.worker_subtype }}</div>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    For Period {{ view.round_number }}, you (<b>{{ player.role_desc }} {{ player.worker_subtype|default_if_none:'' }}</b>) completed a total of {{ correct_ret_tasks }}
                    decode{{ correct_ret_tasks|pluralize }}.
                </li>


                <li class="list-group-item">
                    {% if player.is_worker %}
                        {% if session.config.info %}
                            Remember, your realized output, which includes the potential impact of the
                            uncontrollable event, if any, will be shown to the Manager and with the other
                            two employees. The other employees will know what your realized output
                            was on the decode task.
                        {% else %}
                            Remember, your realized output, which includes the potential impact of the
                            uncontrollable event, if any, will be shown to the Manager but not with the other
                            two employees. The other employees will not know what your realized output
                            was on the decode task.
                        {% endif %}
                    {% else %}
                        Remember, as the Manager of the firm, your performance on the decode task will NOT affect your
                        remuneration. Working in Period 1 (but not all other periods) is only for you to understand your
                        employees’ work situation.
                    {% endif %}

                </li>

                <li class="list-group-item">
                    Please click ‘Next’ when you are ready to proceed to the next screen.
                </li>
            </ul>

        </div>
    </div>
    {% next_button %}
{% endblock %}


