{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Performance on Period {{ view.round_number }}
    {% if  player.is_worker %}
        <div class="float-right">Employee {{ player.worker_subtype }}</div>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    For Period {{ view.round_number }}, you (<b>{{ player.role_desc }} {{ player.worker_subtype|default_if_none:'' }}</b>) completed a total of {{ correct_ret_tasks }}
                    decode{{ correct_ret_tasks|pluralize }}.
                </li>

                {% if player.is_worker %}
                    {% if not session.config.info %}
                        <li class="list-group-item">
                            Remember, the realized output of each employee will be shown to the Manager
                            but will not be shared with the other two employees.
                        </li>
                    {% endif %}
                {% else %}
                    <li class="list-group-item">
                        Remember, as the Manager of the firm, your performance on the decode task will NOT affect your
                        remuneration. Working in Period 1 (but not all other periods) is only for you to understand your
                        employees’ work situation.
                    </li>
                {% endif %}

                <li class="list-group-item">
                    Please click ‘Next’ when you are ready to proceed to the next screen.
                </li>
            </ul>

        </div>
    </div>
    {% next_button %}
{% endblock %}


