{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Uncontrollable Event for Period  {{ view.round_number }}
    {% if  player.is_worker %}
        <div class="float-right">Employee {{ player.worker_subtype }}</div>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="card my-3">
        <div class="card-body">

            <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    An uncontrollable event occurred that has {{ subsession.shock_direction }}ly affected only
                    <b>Employee {{ subsession.shock_worker_subtype }}</b> for Period
                    {{ view.round_number }}.
                </li>

                <li class="list-group-item">
                    As a result of the uncontrollable event,

                    {% if not is_shocked %}
                        <b>Employee {{ subsession.shock_worker_subtype }}</b>’s
                    {% else %}
                        your
                    {% endif %}

                    realized output will be
                    {% if subsession.shock_direction == 'positive' %}increased{% else %}decreased{% endif %}
                    by {{ subsession.shock_size }} from {{ correct_ret_tasks }}.
                </li>

                {% if participant.vars.treatments.performance != Constants.TREATMENT_PERFORMANCE.2 %}
                    <li class="list-group-item">
                        Note that only the Manager and the affected employee know about
                        the impact of the uncontrollable event. The other employees do NOT know who is affected or
                        the impact of the uncontrollable event.
                    </li>

                {% else %}
                    <li class="list-group-item">
                        Note that the Manager and all the employees know about
                        the impact of the uncontrollable event.
                    </li>
                {% endif %}

                <li class="list-group-item">
                    Please click ‘Next’ when you are ready to proceed to the next screen.
                </li>

            </ul>

        </div>
    </div>
    {% next_button %}
{% endblock %}
