{% extends "main/BaseInstructions.html" %}
{% load otree %}

{% block title %}
    Uncontrollable Event to Output
{% endblock %}

{% block instruction_body %}

    <li class="list-group-item">
        Much like in the real world, sometimes employees’ output could be affected by an “uncontrollable
        event.” An
        example would be car salespeople’s performance would be affected by extreme weather conditions or
        the unexpected
        opening of a competing dealership.
    </li>

    <li class="list-group-item">
        In this study, uncontrollable events may affect employees by increasing or decreasing their
        production of
        completed decodes. The event’s effect can go both directions and ranges between -4 and +4 decodes.
    </li>

    <li class="list-group-item">
        For example, if an employee completed 25 decodes and was affected by a positive uncontrollable event
        of +4, she
        would have a <i>realized output</i> of 29 decodes. If she was affected by a negative uncontrollable event
        of -3, then
        her <i>realized output</i> would be 22 decodes.
    </li>

    <li class="list-group-item">
        Please click ‘Next’ when you are ready to proceed to the next screen.
    </li>

{% endblock %}
