{% extends "main/BaseInstructions.html" %}
{% load otree %}

{% block title %}
    Employees’ Task and Output
{% endblock %}

{% block instruction_body %}

    <li class="list-group-item">
        During each period in Stage 2, each employee (Employee A, Employee B, and Employee C) will individually work on
        the decode task for two minutes. The number of decodes completed by the employees will contribute to the
        firm’s output.
    </li>

    <li class="list-group-item">
        Please click ‘Next’ when you are ready to proceed to the next screen.
    </li>

{% endblock %}
