{% extends "main/BaseInstructions.html" %}
{% load otree %}

{% block title %}
    Employees’ Ability and Output
{% endblock %}

{% block instruction_body %}

    <li class="list-group-item">
        In your firm, all three employees had similar rankings on the decode task in Stage One.
    </li>

    <li class="list-group-item">
        In each Period, each employee (Employee A, Employee B, and Employee C) will individually work on the
        decode task for two minutes. The number of decodes completed by the employees will contribute to the
        firm’s output.
    </li>

    <li class="list-group-item">
        Please click ‘Next’ when you are ready to proceed to the next screen.
    </li>



{% endblock %}
