{% extends "main/BaseInstructions.html" %}
{% load otree %}

{% block title %}
    Employee Bonuses
{% endblock %}

{% block instruction_body %}

    <li class="list-group-item">
        Bonuses are related to the combined <i>realized output</i> of the three employees.
    </li>

    {% if participant.vars.treatments.pay == Constants.TREATMENT_PAY.0 %}
        <li class="list-group-item">
            The greater the total realized output (after accounting for potential uncontrollable events)
            from the three employees, the greater the employee bonus pool.
        </li>

        <li class="list-group-item">
            The Manager then determines how to allocate the employee bonus pool and cannot keep any of the
            employee bonus for herself.
        </li>

    {% else %}
        <li class="list-group-item">
            At the end of each period, an employee bonus pool is calculated using the following formula:
        </li>

        <li class="list-group-item lead text-center font-weight-bold">
            Employee Bonus Pool = 30% * Total Realized Output * 10 Liras per decode
        </li>

        <li class="list-group-item">
            For example, suppose Employee A, B, and C each had a realized output of 20 decodes (after
            accounting
            for potential uncontrollable events), the total employee bonus pool will be:
        </li>
        <li class="list-group-item lead text-center">
            30% * 60 decodes * 10 Liras per decode = 180 Liras.
        </li>

        <li class="list-group-item">
            The Manager then determines how to allocate the employee bonus pool and cannot keep any for
            herself.
        </li>

    {% endif %}

    <li class="list-group-item">
        Please click ‘Next’ when you are ready to proceed to the next screen.
    </li>

{% endblock %}
